:root ._mt-10px{margin-top:10px;}
:root ._mr-10px{margin-right:10px;}
:root ._mb-10px{margin-bottom:10px;}
:root ._ml-10px{margin-left:10px;}
:root ._col-color{color:var(--color);}
:root ._col-2e78b735{color:#2e78b7;}
:root ._fs-14px{font-size:14px;}