:root ._fd-column{flex-direction:column;}
:root ._grow-1{flex-grow:1;}
:root ._shrink-1{flex-shrink:1;}
:root ._fb-0px{flex-basis:0px;}
:root ._items-center{align-items:center;}
:root ._justify-center{justify-content:center;}
:root ._gap-c-space-4{gap:var(--c-space-4);}
:root ._pt-c-space-6{padding-top:var(--c-space-6);}
:root ._pr-c-space-6{padding-right:var(--c-space-6);}
:root ._pb-c-space-6{padding-bottom:var(--c-space-6);}
:root ._pl-c-space-6{padding-left:var(--c-space-6);}
:root ._bg-background{background-color:var(--background);}
:root ._select-auto{user-select:auto;-webkit-user-select:auto;}
:root ._col-color{color:var(--color);}
:root ._ws-normal{white-space:normal;}
:root ._ff-f-family{font-family:var(--f-family);}
:root ._fw-f-weight-9{font-weight:var(--f-weight-9);}
:root ._ls-f-letterSpa1360334197{letter-spacing:var(--f-letterSpacing-9);}
:root ._fs-f-size-9{font-size:var(--f-size-9);}
:root ._lh-f-lineHeigh112928{line-height:var(--f-lineHeight-9);}
:root ._mt-0px{margin-top:0px;}
:root ._mr-0px{margin-right:0px;}
:root ._mb-0px{margin-bottom:0px;}
:root ._ml-0px{margin-left:0px;}
:root ._fw-f-weight-4{font-weight:var(--f-weight-4);}
:root ._ls-f-letterSpa1360334202{letter-spacing:var(--f-letterSpacing-4);}
:root ._fs-f-size-4{font-size:var(--f-size-4);}
:root ._lh-f-lineHeigh112923{line-height:var(--f-lineHeight-4);}
:root ._col-green10{color:var(--green10);}